.intro {
    padding-right: 5rem;

    @include media("<=tablet") {
        position: absolute;
        bottom: 6.5em;
    }

    &__title {

    }

    &__desc {
        font-size: $font-size-md;
    }


}

// <h1 className='intro__title text-8xl font-bold leading-tight text-white font-3xl'>Louis.</h1>
// <p className='intro__desc text-lg text-white font-thin'>A passionate learner who believe in changing people life better using technology.</p>
