@use "../vendors/_media-query";

section {
    display: flex;
    justify-content: center;
}

#root {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  #root::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  