// https://brandonbrule.github.io/scss-animation-keyframe-mixin/
@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation, $direction: forward, $fillmode: fowards) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
}

@include keyframe(animation-slide-in-up) {
    0% {
        transform: translate(0,100%);
    }

    100% {
        transform: translate(0,0);
    }
}

@include keyframe(animation-slide-out-up) {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(0,-100%);
    }
}


.animation-slide-in-up{
    @include animation(0, 0.5s, animation-slide-in-up, ease);
  }

.animation-slide-out-up{
@include animation(0, 0.5s, animation-slide-out-up, ease);
}


// ****************************

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out-right {
    0% {
       opacity: 1;
       transform: translateX(0)
     }
     100% {
       opacity: 0;
       transform: translateX(20px)
     }
  }

  @keyframes fade-in-right {
    0% {
       opacity: 0;
       transform: translateX(-20px)
     }
     100% {
       opacity: 1;
       transform: translateY(0px)
     }
  }


@keyframes zoom-in-fade-out {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 2;
    }
}

@keyframes zoom-out-fade-in {
    0% {
        opacity: 0;
        scale: 2;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes move-left {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-95px);
    }
}


@keyframes clip-circle-out {
    0% {
        clip-path: circle(0 at center);
    }
    100% {
        clip-path: circle(1000px at center);
    }
}
